body {
    margin: 0;
    font-family: Helvetica, Arial;}

h1 {
    width: 100%;
    padding: 30px;
    margin: 0;
    background-color: silver;
}

button {
    background-color: gold;
    padding: 10px 30px;
    font-size: 14px;
}

button, ul { margin: 10px 40px; }

ul, ul li {
    list-style: none;
    padding: 0;
}

ul li a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #ddd;
    padding: 10px 30px;
    margin-bottom: 2px;
}

ul li a:hover { background-color: gold; }